footer
    nav 
        section
            h2 Real Media
            .section_bottom-wrapper 
                ul 
                    li 
                        a(href="#") Terms & Conditions
                    li 
                        a(href="#") Privacy Policy
                .footer_copyright
                    h4 &copy; 2021 Real Publishing
                    h4 All rights reserved
        section
            ul
                li 
                    a(href="#") Real Media
                li 
                    a(href="#") Real Books
                li 
                    a(href="#") Real Pro 