extends templates/layout

block content 
    main
        section.main-image 
            img(src="img/media1.jpg")
            h1 News that lasts.
        section.introduction 
            p Real Media publishes intelligent news and current affairs that breaks the 24-hour news cycle. We offer a nuanced examination of Australia and the world, focused on fresh insight and literary expression. Our audience reads to know, not just to agree. We invest in long-form journalism where the issues demand it, providing writing of a quality that makes difficult topics clear. Schwartz Media publishes Australia’s most respected writers across The Saturday Paper, The Monthly magazine and the daily podcast 7am, alongside our sister publications, Quarterly Essay and Australian Foreign Affairs.
            button 
                i.fas.fa-arrow-circle-right
                h4 View Our Companies
        section.publication 
            article
                .description 
                    h3 Journalism
                    p Our journalists create in-depth, independent, original public interest reporting, focusing on storytelling and insight.
                    button Learn more
                .img
            article
                .description 
                    h3 The Monthly
                    p The Monthly publishes long-form journalism from the nation's leading writers and thinkers, covering Australian politics, culture and ideas.
                    .button-wrapper
                        button Learn more
                        button Advertise
                .img
            article
                .description 
                    h3 The Saturday Paper
                    p The Saturday Paper is a weekly newspaper, dedicated to telling the whole story. It publishes long-form accounts of the week’s key stories.
                    .button-wrapper
                        button Learn more
                        button Advertise
                .img
            article
                .description 
                    h3 7am
                    p 7am is a daily news podcast that tells the big stories through in-depth interviews and sharp analysis.
                    .button-wrapper
                        button Learn more
                        button Advertise
                .img
            article.goods 
                .goods_column
                    h3 Shop
                    .goods_column-img 
                    p In collaboration with Alpha60, The Saturday Paper and The Monthly bring you a tote bag.
                    button Shop now
                .goods_column
                    h3 A Wine Service
                    .goods_column-img 
                    p The Saturday Paper, The Monthly and Blackhearts & Sparrows bring you A Wine Service – carefully chosen wine, delivered to your door. 
                    button See wines