@import "_reset.scss";
@import "_variables.scss";
@import "_content.scss";
@import "_mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato&display=swap");

body {
  width: 100%;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  height: 6vh;
  position: fixed;
  top: 0;
  z-index: 1;
  font-size: 1.8rem;
  font-family: "Abril Fatface";
  background-color: white;
  color: black;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  nav {
    width: 100%;
    height: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      width: 10%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      li {
        &:last-child {
          margin-left: 10px;
        }
        i {
          font-size: 1.5rem;
        }
      }
    }
    .header-column {
      width: 10%;
      @include responsive("phone") {
        display: none;
      }
    }
  }
}

main {
  width: 100%;
  font-family: "Lato";
  padding: 6vh 15% 0 15%;
  @include responsive("phone") {
    padding: 5vh 5vw 0 5vw;
  }
  @include responsive("tablet") {
    padding: 5vh 5vw 0 5vw;
  }
  .main-image {
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin:0 auto;
    img {
      width: 100%;
      margin-bottom: 10vh;
    }
    h1 {
      font-size: 2rem;
      font-weight: 7ar00;
      margin-bottom: 10vh;
    }
  }
  .introduction {
    width: 100%;
    height: 60vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    @include responsive("tablet") {
      height: 80vh;
    }
    @include responsive("phone") {
      height: 30vh;
    }
    p {
      &::before {
        content: "About";
        padding-right: 4%;
        @extend %smallTitle;
        @include responsive("phone") {
          font-size: 1.2rem;
        }
      }
      @extend %paragraph;
      @include responsive("phone") {
        font-size: 1rem;
        line-height: 1.2rem;
      }
      @include responsive("tablet"){
        font-size: 1.2rem;
      }
    }
    button {
      display: flex;
      border: 0;
      background-color: white;
      justify-content: space-between;
      cursor: pointer;
      align-items: center;
      width: 25%;
      @extend %smallTitle;
      transition: width 0.25s ease-in;
      @include responsive("phone") {
        width: 100%;
        justify-content: flex-start;
        font-size: 1rem;
      }
      @include responsive("tablet") {
        width: 100%;
        justify-content: flex-start;
        font-size: 1rem;
      }
      i {
        font-size: 1.2rem;
        @include responsive("phone") {
          font-size: 1rem;
          padding-right: 0.8rem;
        }
        @include responsive("tablet") {
          font-size: 1rem;
          padding-right: 0.8rem;
        }
      }
      &:hover {
        width: 25.5%;
      }
    }
  }
  .publication {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, 60vh) 80vh;
    @include responsive("phone") {
      display: block;
    }
    article {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      padding: 10px 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include responsive("phone") {
        display: flex;
        flex-direction: column;
        height: 70vh;
      }
      &:nth-child(even) {
        .img {
          order: 2;
          @include responsive("phone") {
            order: 0;
          }
        }
      }
      &:nth-child(2) {
        .img {
          background-image: url("../img/media3.jpg");
        }
        .button-wrapper {
          @extend %btnWrap;
        }
      }
      &:nth-child(3) {
        .img {
          background-image: url("../img/media4.jpg");
        }
        .button-wrapper {
          @extend %btnWrap;
        }
      }
      &:nth-child(4) {
        .img {
          background-image: url("../img/media5.jpg");
        }
        .button-wrapper {
          @extend %btnWrap;
        }
      }
      .description {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0 15px;
        h3 {
          @extend %smallTitle;
          @include responsive("phone") {
            padding-top: 5%;
            font-size: 1.2rem;
          }
        }
        p {
          @extend %paragraph;
          @include responsive("phone") {
            font-size: 1rem;
          }
          @include responsive("tablet"){
            font-size: 1.2rem;
          }
        }
        button {
          @extend %btn;
          @include responsive("phone") {
            padding: 0;
            font-size: 1rem;
          }
          @include responsive("tablet"){
            padding: 0;
            font-size: 1rem;
          }
        }
      }
      .img {
        @extend %image;
        background-image: url("../img/media2.jpg");
      }
    }
    .goods {
      padding-bottom: 2rem;
      @include responsive("phone") {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .goods_column {
        display: flex;
        flex-direction: column;
        padding-right: 5%;
        @include responsive("phone") {
          height: 50%;
          padding-right: 0;
        }
        &:last-child {
          padding-left: 5%;
          @include responsive("phone") {
            padding-left: 0;
          }
          .goods_column-img {
            background-image: url("../img/media7.jpg");
          }
        }
        h3 {
          @extend %smallTitle;
          padding: 5% 0;
          @include responsive("phone") {
            font-size: 1.2rem;
          }
        }
        .goods_column-img {
          width: 100%;
          height: 55%;
          background-image: url("../img/media6.jpg");
          place-self: center center;
          background-position: center;
          background-size: cover;
          @include responsive("phone") {
            height: 80%;
          }
        }
        p {
          @extend %smallParagraph;
          @include responsive("phone") {
            font-size: 1rem;
            height: 30%;
          }
          @include responsive("tablet") {
            height: 35%;
            font-size: 1.2rem;
          }
        }
        button {
          @extend %btn;
          @include responsive("phone") {
            padding: 0;
          }
          @include responsive("tablet"){
            padding: 0;
            font-size: 1rem;
          }
        }
      }
    }
  }
  .about {
    width: 100%;
    height: 35vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include responsive("phone") {
      height: 80vh;
      display: block;
    }
    article {
      display: flex;
      flex-direction: column;
      h3 {
        @extend %smallTitle;
        padding: 7% 0;
        @include responsive("phone") {
        font-size: 1.2rem;
        }
      }
      p {
        @extend %smallParagraph;
        height: 35%;
        @include responsive("phone") {
          font-size: 1rem;
          padding-bottom: 10%;
        }
        @include responsive("tablet"){
          font-size: 1.2rem;
        }
      }
      button {
        @extend %btn;
        @include responsive("phone") {
          font-size: 1.1rem;
          padding:0;
        }
        @include responsive("tablet"){
          padding: 0;
          font-size: 1rem;
        }
      }
    }
  }
}

footer {
  width: 100%;
  height: 30vh;
  background-color: $footerBg;
  color: white;
  font-size: 1.2rem;
  padding: 0 10%;
  @include responsive("phone") {
    height: 50vh;
  }
  nav {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include responsive("phone") {
      display: block;
    }
    section {
      @include responsive("phone") {
        height: 50%;
      }
      &:first-child {
        padding: 5% 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include responsive("phone") {
          padding-bottom: 0;
        }
        h2 {
          font-size: 1.6rem;
        }
        .section_bottom-wrapper {
          height: 40%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          @include responsive("phone") {
            height: 70%;
            justify-content: space-around;
          }
          a {
            color: white;
          }
        }
      }
      &:last-child {
        ul {
          width: 100%;
          padding-top: 8%;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          @include responsive("phone") {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
          }
          a {
            color: white;
          }
        }
      }
    }
  }
}
