@import "_reset.scss";
@import "_variables.scss";
@import "_content.scss";
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato&display=swap");

body {
  width: 100%;
  color: black;
  & > *:not(header) {
    padding: 0 20%;
  }
}

a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  height: 6vh;
  font-size: 1.8rem;
  font-family: "Abril Fatface";
  background-color: white;
  color: black;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  nav {
    width: 100%;
    height: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      width: 10%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      li {
        &:last-child {
          margin-left: 10px;
        }
        i {
          font-size: 1.5rem;
        }
      }
    }
    .header-column {
      width: 10%;
    }
  }
}

main {
  width: 100%;
  font-family: "Lato";
  .main-image {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    img {
      width: 83%;
    }
    h1 {
      font-size: 2rem;
      font-weight: 7ar00;
    }
  }
  .introduction {
    width: 100%;
    height: 60vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    p {
      &::before {
        content: "About";
        padding-right: 4%;
        @extend %smallTitle;
      }
      @extend %paragraph;
    }
    button {
      display: flex;
      border: 0;
      background-color: white;
      justify-content: space-between;
      cursor: pointer;
      align-items: center;
      width: 25%;
      @extend %smallTitle;
      transition: width 0.25s ease-in;
      i {
        font-size: 1.2rem;
      }
      &:hover {
        width: 25.5%;
      }
    }
  }
  .publication {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, 50vh);
    article {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      padding: 10px 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      &:nth-child(even) {
        img {
          order: -1;
        }
      }
      &:nth-child(2) {
        height: 100%;
        .button-wrapper {
          @extend %btnWrap;
        }
      }
      &:nth-child(3) {
        .button-wrapper {
          @extend %btnWrap;
        }
      }
      &:last-child {
        .button-wrapper {
          @extend %btnWrap;
        }
      }
      .description {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h3 {
          @extend %smallTitle;
        }
        p {
          @extend %paragraph;
        }
        button {
          @extend %btn;
        }
      }
      img {
        place-self: center center;
        width: 90%;
      }
    }
  }
}

footer {
  width: 100%;
  height: 30vh;
  background-color: $footerBg;
  color: white;
  font-size: 1.2rem;
  nav {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    section {
      &:first-child {
        padding: 5% 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2 {
          font-size: 1.6rem;
        }
        .section_bottom-wrapper {
          height: 40%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          a {
            color: white;
          }
        }
      }
      &:last-child {
        ul {
          width: 100%;
          padding-top: 8%;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          a {
            color: white;
          }
        }
      }
    }
  }
}
